.logo {
    display: block;
    width: 68px;
    height: 68px;
    box-shadow: 15px 10px #d1cfcd8a;
    animation-name: shadow;
    animation-duration: 1s;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px #d1cfcd8a;
    }
    100% {
        box-shadow: 15px 10px #d1cfcd8a;
    }
}